@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #0583d2;
}

h2,
h1 {
  margin-bottom: 8%;
  text-align: center;
  font-family: "Fredoka One", cursive;
  color: #0583d2;
  letter-spacing: 0.1em;
}

button {
  padding: 3%;
  width: 100%;
}

.login-container {
  background-color: white;
  padding: 7%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* horizontal align */
  width: 60vw;
  margin-left: 20vw;
  /* vertical align */
  height: 30vh;
  margin-top: 15vh;
}

#submit,
#create-acct-btn {
  background-color: #0583d2;
  color: white;
  border: none;
  margin-top: 5%;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

body {
  margin: 40px 10px;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

#logoutIcon {
  float: right;
}

#calendar {
  max-width: 1100px;
  margin: 0 auto;
}

#task {
  max-width: 1100px;
  float: inline-end;
  margin: 10;
}

#addIcon {
  max-width: 1100px;
  float: inline-end;
  margin: 10;
}